@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-skin-fill;
    }
    h1 {
        @apply text-3xl;
    }
    /* Scrollbar */

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: black;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #555;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #888;
    }

    #sidebar::-webkit-scrollbar {
        width: 5px;
    }
}

@layer components {
    .card-header {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
}
