@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-skin-fill;
    }
    h1 {
        @apply text-3xl;
    }
}

@layer components {
    .card-header {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
